{% extends "base.twig" %}

{% block content %}

    <main role="main" id="main-content" class="superhuman-test">
        {% include 'modules/superhuman-test-hero.twig' %}
        {% include 'modules/superhuman-test-packages.twig' %}
        {% include 'modules/superhuman-test-guarantee.twig' %}
        {% include 'modules/superhuman-test-reviews.twig' %}
        {% include 'modules/superhuman-test-faq.twig' %}
    </main>

{% endblock %}