{% extends "base.twig" %}

{% block content %}

    <main role="main" id="main-content">
        {% include 'modules/box-thank-you.twig' %}
        {% include 'modules/box-order.twig' %}
    </main>

{% endblock %}