{% extends "base.twig" %}

{% block content %}

    <main role="main" id="main-content">
        {% include 'modules/box-important.twig' %}
        {% include 'modules/box-video.twig' %}
        {% include 'modules/single-text-image-right.twig' %}
        {% include 'modules/box-discount.twig' %}
    </main>

{% endblock %}