<footer class="footer bg-primary">
    <div class="container">
        <div class="row">
            <a class="logo-brand" href="{{ base_site_url() }}"><img src="{{ site.theme.link }}/dist/images/global/logo.svg" alt="Alpha Lion logo"></a>
            <div class="col-lg-8 m-auto">
                <div class="footer__nav">
                    <p style="font-size: 12px; line-height: 1.4em;">† STATEMENTS ON THIS WEBSITE HAVE NOT BEEN EVALUATED BY THE FOOD AND DRUG ADMINISTRATION. PRODUCTS ARE NOT INTENDED TO DIAGNOSE, TREAT, CURE OR PREVENT ANY DISEASE.</p>
                    <p>© 2022, Alpha Lion. All rights reserved</p>
                </div>
            </div>
            <hr>
            <p style="text-align: center;"><span style="color: #5c5c5c;">For support, please contact 24/7: <a style="color: #5c5c5c;font-size:15px;font-weight:400" href="mailto:info@alphalion.com">info@alphalion.com </a> <a style="color: #5c5c5c;font-size:15px;font-weight:400" href="tel:+18339625742">+1 (833) 962-5742</a></span></p>
            <div class="col-lg-8 m-auto text-center">
                <p class="text-center privacy"><strong><a href="/privacy-policy/">Privacy Policy</a></strong> | <strong><a href="/terms-of-service/">Terms of Services</a></strong> | <strong><a href="/shipping-returns-policy/">Shipping & Returns Policy</a></strong></p>
            </div>
        </div>
    </div>
</footer>