<header class="header bg-primary">
    <nav>
        <div class="container d-lg-flex align-items-center justify-content-between">
            <a class="navbar-brand" href="{{ base_site_url() }}"><img src="{{ site.theme.link }}/dist/images/global/logo.svg" alt=""></a>
            <div class="content-logos">
                <img src="{{ site.theme.link }}/dist/images/global/security.png" alt="">
            </div>
        </div>
    </nav>
</header>