<header class="superhuman-test-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="/"><img src="https://dadboddestroyer.co/wp-content/uploads/sites/3/2022/08/superhuman-test-site-logo.png" alt="Alpha Lion Logo" style="height: 46px"></a>
                </div>
                <div class="col-md-6 guarantee">
                    <img src="https://dadboddestroyer.co/wp-content/uploads/sites/3/2022/08/warranty.png" alt="Guarantee" style="height: 60px">
                </div>
            </div>
        </div>
</header>