<section class="section section-box-video d-block d-block d-lg-none">
    <div class="content-title">
        <span class="bg-primary">Step 1: Create Account</span>
        <span class="bg-orange">Step 2: Special Welcome Bonus</span>
        <span class="bg-primary">Step 3: Order Complete</span>
    </div>
</section>
<section class="section section-box-video">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="title">
                    <h2 class="alert"> <img src="{{ site.theme.link }}/dist/images/global/alerta.svg" alt="">
                        WAIT!</h2>
                    <div class="text-center">
                        <h2>Your Order is Not Yet Complete</h2>
                        <h5>Please Watch This Important Welcome Message Below</h5>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <div class="content-title d-none d-lg-block">
                    <span class="bg-primary">Step 1: Create Account</span>
                    <span class="bg-orange">Step 2: Special Welcome Bonus</span>
                    <span class="bg-primary">Step 3: Order Complete</span>
                </div>

                <div class="box-video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4KpapZq715c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="note">
                    <h4><span class="text-danger">DO THIS FIRST:</span> Please watch this important New Customer welcome video
                        in full, right now. Your access link will appear here shortly.</h4>
                </div>
            </div>
        </div>
    </div>
</section>