<section class="box-important bg-dangerthree">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text">
                    <p><strong>IMPORTANT: Please Don't Hit Your 'Back' Button Or Close This Window</strong></p>
                    <p>Clicking your 'back' button can result in errors with your order or being double-billed</p>
                </div>
            </div>
        </div>
    </div>
</section>