<section class="section section-tank-you bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1>Thank you for purchase!</h1>
                    <h2>Your order has been received</h2>
                    <p>Your Order Will Be Shipped within 1-2 business days to the address below.<br>
                        Orders placed on weekends will ship immediately the following week.<br>
                        Need to Edit Your Address or Order?</p>
                    <div class="social">
                        <a class="btn btn-green" href="tel:+18339625742">CALL US</a>
                        <a class="btn btn-blue" href="https://www.facebook.com/alphalionofficial/" target="_blank">Send to Messenger</a>
                        <a class="btn btn-green" href="mailto:info@alphalion.com">EMAIL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>