<section class="section section-discount">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="title text-center">
                    <h4>Special New Customer Discount:</h4>
                    <span class="state">AVAILABLE</span>
                </div>
                <div class="content-image">
                    <img src="{{ site.theme.link }}/dist/images/global/product-2.png" alt="">
                </div>
                <div class="prices text-center">
                    <p>Regular Price: <span class="text-danger">$509.91</span></p>
                    <span>Yours Today</span>
                    <p>For Just $291</p>
                    <span class="off">Over 40% OFF!</span>
                </div>
                <div class="content-image-note">
                    <img src="{{ site.theme.link }}/dist/images/global/image-2.png" alt="">
                </div>
                <div class="col-12 text-center">
                    <a class="btn btn-info" href="{{acf.yes_offer}}">YES, UPGRADE MY ORDER </a>
                    <span class="note">*An additional charge of $291 ($97/Stack) will be charged to your credit card for this upgrade</span>
                    <a href="{{acf.not_order}}" class="noteTwho">“No, thank you – I don’t want to upgrade my order and lock in more than $200 in savings. I understand this offer will not be available to me in the future. Take me to next step.”</a>
                </div>
            </div>
        </div>
    </div>
</section>