<section class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 m-auto">
                <div class="title text-lg-center"  data-aos="fade-up">
                    <h2>{{ acf.title }}</h2>
                </div>
                <div data-aos="fade-up">
                    {{ acf.code_script|raw }}
                </div>
            </div>
        </div>
    </div>
</section>