<section class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 m-auto" data-aos="fade-up" >
                <div class="title text-center">
                    <h2>{{ acf.info_text }}</h2>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-right" >
                <div class="content-image-and-tag">
                    <h4 class="save-price d-none">SAVE $293.90</h4>
                    <img src="{{ site.theme.link }}/dist/images/global/dad-bod-stack-3-free-gifts-save.webp" alt="dad-bod-stack-3-free-gifts-save">
                    <div class="box-free d-none">
                        <h5>+4 FREE</h5>
                        <span>BONUS GIFTS!</span>
                        <span class="bg-primary">PLUS FREE SHIPPING</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-left" >
                <div class="text">
                    <ul>
                        <li>FREE Shaker Bottle</li>
                        <li>FREE Bottle of CaloriBurn</li>
                        <li>FREE SuperHuman Ripped Program</li>
                    </ul>
                    <div class="prices">
                        <h4 class="price price--default">$409.95</h4>
                        <h3 class="price-xl">$147</h3>
                        <p>64% OFF REGULAR PRICE</p>
                    </div>
                    <a class="btn btn-warning me-4" href="#">
                        <div class="icon">
                            <span>BUY NOW</span>
                            <i class="icon-buy"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>