<section class="section-warranty bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto">
                <img class="img-warranty" src="{{ acf.image }}" alt="{{ acf.title }}" data-aos="fade-down" >
                <div class="title text-center" data-aos="fade-up" >
                    <h2>{{ acf.title }}</h2>
                    <p>{{ acf.content|raw }}</p>
                </div>
            </div>
        </div>
    </div>
</section>