<section class="section single-text-image-right">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="title text-center">
                    <h2>Click The Button Below Now To Get An Additional 3-Month Supply Of The Dad Bod Destroyer Stack</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text">
                    <h4>Here’s What You’re Getting Now When You Upgrade Your Order</h4>
                    <ul>
                        <li>An Additional 3 Bottles of SuperHuman Burn, so you have an EXTRA 90-day supply – making sure you don’t run out, so you can melt away unwanted fat faster than ever before!</li>
                        <li>An EXTRA 30-Day Supply of Cravings Killer - our 100% natural appetite and cravings suppressant scientifically designed to destroy progress-killing cravings in as little as 14 days.</li>
                        <li>An EXTRA 30-day supply of Nightburn, to be your secret weapon when it comes to fast recovery, and high-quality sleep. Get better sleep, reduce stress, and increase your ability to burn fat. </li>
                        <li>Access to the SuperHuman Private Facebook Group so you can join our tight knit community full of motivated people wanting to transform their body and health. Never lose motivation again with this community!</li>
                        <li>FREE Shipping on your entire upgrade</li>
                        <li>All backed by our 365-day, 100% money-back guarantee!</li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="image">
                    <img src="{{ site.theme.link }}/dist/images/global/product-2.png" alt="">

                </div>
            </div>
            <div class="col-12 text-center">
                <a class="btn btn-info" href="{{acf.yes_offer}}">YES, UPGRADE MY ORDER </a>
                <span class="note">*An additional charge of $291 ($97/Stack) will be charged to your credit card for this upgrade</span>
                <a href="{{acf.not_order}}" class="noteTwho">“No, thank you – I don’t want to upgrade my order and lock in more than $200 in savings. I understand this offer will not be available to me in the future. Take me to next step.”</a>
            </div>
        </div>
    </div>
</section>