<div class="summary">
    <div class="title-step">
        <h2>FINAL STEP</h2>
    </div>
    <div class="contenedor-form">

        {{ do_shortcode(acf.shortcode_form)|raw }}

        <div class="security">
            <span class="text-primary icon-shield"></span>
            <p>100% Secure & Safe Payments</p>
        </div>
    </div>

</div>