<section class="superhuman-test-guarantee" >
        <div class="container">
            <div class="row" data-aos="fade-up">
                <div class="col-md-2">
                    <img src="{{acf.guarantee_section.guarantee_image}}" alt="Guarantee">
                </div>
                <div class="col-md-10">
                    <h2>{{acf.guarantee_section.guarantee_title}}</h2>
                    <p><span>{{acf.guarantee_section.guarantee_subtitle}}</span><br>
                        {{acf.guarantee_section.guarantee_content}}</p>
                </div>
            </div>
        </div>
    </section>