<section class="legal-alphalion" >
        <div class="container">
            <div class="row" data-aos="fade-up">
                <div class="col-md-12">
                    <h2 style="font-family: 'Bebas Neue'">{{title}}</h2>
                    <span>{{acf.top_legal_text}}<br>—-</span>
                    
                    <h4>{{ acf.legal_block_content | raw }}</h4>
                </div>
            </div>
        </div>
    </section>